/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

/* variables - use mycolor.space for color palette */
:root {
  --background: #FAFAFA;
  --primary: #8685EF;
  --secondary: #DEDBEE;
  --buttoncolor: #8685EF;
  --warning: #da0f41;
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: var(--primary);
}
body {
  background: var(--background);
}
a {
  text-decoration: none;
}

/* buttons */
button,
.btn {
  padding: 8px 12px;
  color: var(--buttoncolor);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  background: none;
  border: 1px solid var(--buttoncolor);
  cursor: pointer;
  display: inline-block;
}
button:hover,
.btn:hover {
  background: var(--buttoncolor);
  color: #050801;
  box-shadow: 0 0 5px var(--buttoncolor), 0 0 20px var(--buttoncolor), 0 0 20px var(--buttoncolor),
    0 0 20px var(--buttoncolor);
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

.cancel-btn{
  color: var(--warning);
  border: 1px solid var(--warning);
}
.cancel-btn:hover{
  background: var(--warning);
  color: #050801;
  box-shadow: 0 0 5px var(--warning), 0 0 20px var(--warning), 0 0 20px var(--warning),
    0 0 20px var(--warning);
}

.two-btn button{
  margin: 20px 20px;
}

/* forms */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 10px 20px 20px 20px rgba(50, 50, 50, 0.3);
  border: 1px solid var(--secondary);
  background: white;
}
input,
textarea {
  border: none;
  background: var(--secondary);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px auto;
  color: black;
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--primary);
  display: block;
}

/* put icon inside password box */
.icon-container{
  margin-bottom: 10px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}
.passwordBox{
  border-radius: 10px 0 0 10px;
}
.passwordIcon{
  background: var(--secondary);
  padding: 7px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

/* error text */
.error {
  color: var(--warning);
  font-size: 14px;
  margin: 16px 0;
}

span{
  color: black;
}

/* when auto complete selected make sure to change the background color to same as current */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--secondary) inset !important;
}
